* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --dc-primary: #0282f9;
  --dc-grey: #B1B2B5;
}

body {
  font-family: "Open Sans", sans-serif;
}


header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: grey;

  .container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
      
      ul {
        display: flex;
        justify-content: end;
        gap: 1rem;
        font-weight: 800;
      }

  }

  .logo{
    display: flex;
    align-items: center;

    img {
      width: 80px;
    }
  }

  a {
    text-decoration: none;
    color: var(--dc-grey);
    font-size: 12px;

    &:hover {
      color: var(--dc-primary);
    }
  }
}